<!DOCTYPE html>
<html dir="ltr" lang="zxx">

    <%- include("../partials/head") %>
<body>
    <%- include("../partials/addtag") %>
    <%- include("../partials/mobile") %>

    <%- body %>

    <%- include("../partials/mobilefixed") %>
    <%- include("../partials/sitemap") %>
    <%- include("../partials/quickview") %>
    <!-- Go To Top -->
    <div id="scrollTop" class="visually-hidden end-0"></div>

    <!-- External JavaScripts -->
    <script src="js/plugins/jquery.min.js"></script>
    <script src="js/plugins/bootstrap.bundle.min.js"></script>
    <script src="js/plugins/bootstrap-slider.min.js"></script>
    
    <script src="js/plugins/swiper.min.js"></script>
    <script src="js/plugins/countdown.js"></script>
    <script src="js/plugins/jquery.fancybox.js"></script>

    <!-- Footer Scripts -->
    <script src="js/theme.js"></script>

</body>
</html>